* {
  margin: 0;
  padding: 0;
}
strong,
b {
  font-weight: inherit;
}
body {
  background-color: #000;
  font-weight: 100;
  font-size: 18px;
}
.App {
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  height: 100vh;
  justify-content: space-between;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}
.monitor {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.monitor time {
  font-size: 75px;
  display: inline-block;
  white-space: nowrap;
  word-spacing: -3px;
}
.monitor time span {
  width: 48px;
  display: inline-block;
  text-align: center;
}
.control-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.table-area {
  flex: 1;
  overflow-y: hidden;
  max-height: 240px;
  border-bottom: 1px solid #666;
}
.table-area li {
  display: flex;
  justify-content: space-between;
  height: 40px;
  line-height: 39px;
  box-sizing: border-box;
  border-top: 1px solid #666;
}
.table-area time span {
  display: inline-block;
  width: 12px;
  text-align: center;
}
button {
  border: none;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-size: 18px;
  border: 2px solid #000;
  box-shadow: 0px 0px 0px 1px rgba(66, 66, 66, 1);
  background-color: rgba(66, 66, 66, 1);
  color: #fff;
  opacity: 0.9;
  box-sizing: border-box;
}
button:focus,
button:active {
  outline: none;
}
button.disable {
  opacity: 0.5;
}
button.red {
  background-color: rgba(230, 0, 0, 0.3);
  box-shadow: 0px 0px 0px 1px rgba(230, 0, 0, 0.3);
  color: #ff8080;
}
button.green {
  background-color: rgba(31, 167, 13, 0.3);
  box-shadow: 0px 0px 0px 1px rgba(31, 167, 13, 0.3);
  color: rgb(79, 214, 117);
}
